<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AyushJivi</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdmitPatientservlet</display-name>
    <servlet-name>AdmitPatientservlet</servlet-name>
    <servlet-class>patient.com.controller.AdmitPatientservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmitPatientservlet</servlet-name>
    <url-pattern>/AdmitPatientservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Appointment</display-name>
    <servlet-name>Appointment</servlet-name>
    <servlet-class>patient.com.controller.Appointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Appointment</servlet-name>
    <url-pattern>/Appointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bedsavailable</display-name>
    <servlet-name>bedsavailable</servlet-name>
    <servlet-class>patient.com.controller.bedsavailable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bedsavailable</servlet-name>
    <url-pattern>/bedsavailable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DischargePatient</display-name>
    <servlet-name>DischargePatient</servlet-name>
    <servlet-class>patient.com.controller.DischargePatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DischargePatient</servlet-name>
    <url-pattern>/DischargePatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emailotpvalidation</display-name>
    <servlet-name>Emailotpvalidation</servlet-name>
    <servlet-class>patient.com.controller.Emailotpvalidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emailotpvalidation</servlet-name>
    <url-pattern>/Emailotpvalidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emailsend</display-name>
    <servlet-name>emailsend</servlet-name>
    <servlet-class>patient.com.controller.emailsend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emailsend</servlet-name>
    <url-pattern>/emailsend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logindb</display-name>
    <servlet-name>logindb</servlet-name>
    <servlet-class>patient.com.controller.logindb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logindb</servlet-name>
    <url-pattern>/logindb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>patient.com.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showallappointments</display-name>
    <servlet-name>showallappointments</servlet-name>
    <servlet-class>patient.com.controller.showallappointments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showallappointments</servlet-name>
    <url-pattern>/showallappointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showallpatient</display-name>
    <servlet-name>showallpatient</servlet-name>
    <servlet-class>patient.com.controller.showallpatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showallpatient</servlet-name>
    <url-pattern>/showallpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupdb</display-name>
    <servlet-name>signupdb</servlet-name>
    <servlet-class>patient.com.controller.signupdb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupdb</servlet-name>
    <url-pattern>/signupdb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatepatient</display-name>
    <servlet-name>updatepatient</servlet-name>
    <servlet-class>patient.com.controller.updatepatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatepatient</servlet-name>
    <url-pattern>/updatepatient</url-pattern>
  </servlet-mapping>
</web-app>